      h2 {
            margin: 0;
            color: #666;
            padding-top: 90px;
            font-size: 52px;
            font-family: "trebuchet ms", sans-serif;
        }
        .item {
            background: #333;
            text-align: center;
            height: 800px !important;
           // background-image:url('../images/bg.png');
           background-color: black;
            background-repeat:no-repeat;
            background-size:contain;
            background-position:center;
           /*  // background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
        }
        .carousel {
        }

        .bs-example {

        }
        .slider_img01{

        }
        #services {
            background-color:black;
            color:whitesmoke;
        }
        .section-header {
            text-align:center;
            margin: 10px 10px 10px 10px;
            padding-bottom:10px;
            
        }
        .section-header h2 {
            text-align:center;
            margin: 10px 10px 10px 10px;
            padding-bottom:10px;
            color:whitesmoke;
        }
        .section-header p {
            text-align:center;
            margin: 10px 10px 10px 10px;
            padding-bottom:10px;
            font-size:large;
        }
            .mid_header h4 {
                float: left;
                vertical-align:central;
                padding-left:10px;
            }
            .mid_header p {
                float: left;
                vertical-align:middle;
                padding-left:10px;
            }
        .Graphics {
            font-size:44px;
            color:skyblue;
            float: left;
        }

        .product_head {
            margin-top:70px;
            text-align:center;
            font-size:40px;
            color:#d1d3d2;
        }
        .products {
            color: AppWorkspace;
			padding-left:30px;
            padding-right:30px;

        }
            .products h2 {
                font-size:32px;
                color: AppWorkspace;
                height: 180px;
            }
            .products p {
             text-indent: 55px;
             margin-top:10px;
             font-size:16px;
             text-align:justify;
             color:#d1d3d2;
            }
        #WhatWeOffer {
            background-color:black;
            padding-bottom:100px;
            
        }
.whoweare  h3{
            font-size:36px;
            text-align:center;
			padding-top:20px;
            height: 60px;
            padding-bottom:10px;
        }
		.gallary h3 {
            font-size:36px;
            text-align:center;
			padding-top:10px;
            padding-bottom:0px;
        }
        .contact_us {
        text-align:left;
        background-color:black;
        color:white;
        }
        .contact_us h3 {
            font-size:36px;
            text-align:center;
            
        }
        .p_footer {
            background-color:black;
            height:50px;
            width:auto;
            text-align:center;
            color:#d1d3d2;
            
            
             
        }
        .t_right {
                text-align:center;
                padding-top:30px;
                    
            }
        address {
            text-align:center;
            margin-top:5px;
         padding-bottom:30px;
        }
        .contact_us h3 {
            padding-top:50px;
         margin-top:20px;
         margin-bottom:20px;
        }

          .hidethistag{
    visibility: hidden;
  }

@media only screen and (max-width: 500px) {
    #abtus01img{
        width: 100%;
        height: 100%;
    }
}
@media only screen and (min-width: 150px){
     #abtus01img{
        width: 100%;
        height: 100%;
    }
}
.imgow01{
    width: 300px;
    height: 200px;
}
.para{
    text-align: justify;
    text-justify: inter-word;
    margin-right: 20px;
    margin-right: 20px;
    padding: 3px 3px 3px;
}
  